@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost";
  src: url("/fonts/jost/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/jost/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/jost/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  font-family: "Jost", sans-serif;
}

.boxsh {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

.boxshblue {
  box-shadow: 10px 10px 20px 10px rgba(67, 133, 245, 0.58);
}

.threelinelimit {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limits to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.onelinelimit {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
